.title {
    text-align: center;
    padding-top: 20px;
}

.taskList {
    width: 400px;
}

.Form {
    padding-left: 20px;
    padding-top: 20px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}